<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Поиск вакансий</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body background="фон5.jpg">
    <a class="btn btn-outline-primary btn-sm" href="home_page.html">Вернуться на домашнюю страницу</a>
    <h1 class="text-center">Форма для поиска</h1>
    <hr>
    <h2>Введите название вакансии:</h2>

<form action="results.html">
    <div class="input-group">
        <input class="input-group-addon" size="50" type="text" name="name" value="" placeholder="Название вакансии">
          <select class="form-select" size="" id="inputGroupSelect04" aria-label="Пример элемента выбора с помощью надстройки кнопки">
            <option selected>Количество страниц для обработки</option>
            <option value="1">5 страниц</option>
            <option value="2">10 страниц</option>
            <option value="3">15 страниц</option>
          </select>
     <button class="btn btn-outline-primary" type="submit">Начать парсинг</button>
    </div>
</form>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>